<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>iChat</title>

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    </style>

</head>



<body>

<div class="bodywrap" id="bodywrap"><div id="wrap-wrap">

    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="the-navbar">
        <a class="navbar-brand" href="#">iChat</a>
    </nav> -->

    <!-- <div class="container my-5 page hiddent" id="page-audio"><div class="container py-2">
    </div></div> -->

    <div class="container page hiddent" id="page-import"><div class="container py-2">
        <div class="row">
            <div class="col">
                <form name="file-form" class="container">
                    <div class="row" id="filePicker">
                        <!-- <label for="file-input" class="col-md-2 my-2 col-form-label text-md-right">选择文件：</label> -->
                        <div class="col-md-8 my-2">
                            <input type="file" class="form-control" name="file-input" id="file-input" multiple="multiple" data-accept=".sqlite" />
                        </div>
                        <div class="btn-group col-md-4 my-2">
                            <button type="button" name="do_import" id="do_import" class="btn btn-primary" v-on:click="onImport">📥</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div></div>

    <div class="container my-5 py-2 page" id="page-read"><div class="container py-1">

            <div v-for="msg in messages" class="row my-1">
                <div class="col col-sm-2">
                    <div v-if="msg.Des == 1" class="rounded card-wrap">
                        <p class="msg-sender">他人</p>
                    </div>
                </div>
                <div class="col col-sm-8">
                    <div class="rounded msg-wrap" :data-msg-CreateTime="msg.CreateTime" :data-msg-Des="msg.Des" :data-msg-ImgStatus="msg.ImgStatus" :data-msg-MesLocalID="msg.MesLocalID" :data-msg-MesSvrID="msg.MesSvrID" :data-msg-Status="msg.Status" :data-msg-TableVer="msg.TableVer" :data-msg-Type="msg.Type">
                        <div v-if="msg.Type==3">【此为微信表情】</div>
                        <div v-if="msg.Type==34">【此为语音消息】</div>
                        <div v-if="msg.Type==42">【此为名片】</div>
                        <div v-if="msg.Type==47">【此为自定义表情】</div>
                        <div v-if="msg.Type==47"><img class="msg-emoji-custom" :src="getImgUrl(msg.Message)"></div>
                        <div v-if="msg.Type==49">【此为分享内容】</div>
                        <div v-if="msg.Type==49"><div v-html="getShareHtml(msg.Message)"></div></div>
                        <pre v-if="msg.Type!=4999 && msg.Type!=47 && msg.Type!=4222 && msg.Type!=34 && msg.Type!=3" class="msg-content">{{ msg.Message }}</pre>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div v-if="msg.Des == 0" class="rounded card-wrap">
                        <p class="msg-sender">自己</p>
                    </div>
                </div>
            </div>

    </div></div>

    <div class="container my-5 py-2 page" id="page-chats"><div class="container py-1">

            <div class="row my-1">
                <div v-for="chat in current_db_chats" class="col col-sm-6 col-md-4 col-lg-2">
                    <div class="card-wrap">
                        <p class="chat-name" :title="chat.name" v-on:click="push_alert('info', `开始读取聊天记录「${chat.name}」`);makeMsgs(chat.name);">{{ chat.name }}</p>
                    </div>
                </div>
            </div>

    </div></div>

<footer class="py-3 bg-dark text-white border border-dark" id="footer-placeholder">
    <div class="container text-center">
        <div><span class="placeholder"></span></div>
    </div>
</footer>

<!-- Alert -->
<div class="alert-wrap" style="display: block;" ref="alert_wrap">
    <transition name = "fade" v-for="alert in ui.alerts"><div v-show = "alert.show" class="alert alert-dismissible alert-success" :class="'alert-'+alert.class">
        <button type="button" class="close" v-on:click="remove_alert(alert.idx)">&times;</button>
        <div v-html="alert.html"></div>
    </div></transition>
</div>

</div>

<footer class="py-3 bg-dark text-white border border-dark" id="footer">
    <div class="container text-center">
        <div>Github: <a href="https://github.com/gitforziio" target="_blank">@gitforziio</a><a href="https://github.com/gitforziio/iChat" target="_blank">/iChat</a></div>
    </div>
</footer>

</div>

<!-- <script src="https://cdn.bootcdn.net/ajax/libs/alasql/0.6.1/alasql.min.js"></script> -->
<script src="https://cdn.bootcdn.net/ajax/libs/sql.js/1.3.0/dist/sql-wasm.js"></script>
<!-- <script src="https://cdn.bootcss.com/d3/5.12.0/d3.min.js"></script> -->
<script src="https://cdn.bootcdn.net/ajax/libs/xregexp/3.2.0/xregexp-all.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/marked/1.1.0/marked.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>

<script type="text/javascript" src="js/FileSaver.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<script type="text/javascript">
</script>

</body>

</html>
